*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color:  #FD6E0A ;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px ;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.section-heading{
    max-width: 827px;
    text-align: center;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}



/* main style */
header{
    background-color: lch(82.98% 29.37 61.47);
    background: url("../hero-dev-code/images/developer.png"), url("../hero-dev-code/images/header_bg.png") ,lch(82.98% 29.37 61.47);
    background-position:top left,bottom right ;
    background-repeat: no-repeat ;
    padding-top: 50px;

}
nav{
    width: 80%;
    max-width: 1280px;
    /*border: 1px solid red;*/
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
display: flex;
list-style-type: none;
gap: 51px;
align-items: center;

}
nav.menu{
    font-size:20px;
    color: #e4bc9e;
    text-decoration: none;
}

#banner{
    /*border: 1px solid red;*/
    margin: 47px 38px 0 230px;
    display: flex ;
    justify-content: space-between;
    align-items: center;  
}

#banner.banner-content{
    max-width: 585px;
}




#banner.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;


}
#banner.banner-content h1{
    font-size: 85px;
    font-weight: bold;
     color: #474747;
     margin-bottom: 20px;

}
#banner.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;

}

#about {
    padding-top: 130px;
}
#about .about-container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    background-color: lch(82.98% 29.37 61.47);
    padding: 131px 156px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
     font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about .about-container .about-info{
    font-size: 20px;
    
}